<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-light">
    <div class="container">
        <h1 class="pull-left">LaLife</h1>
        <ul class="pull-right breadcrumb">
            <li><a routerLink="/" routerLinkActive="active">Snaps</a></li>
            <li><a routerLink="/upload" routerLinkActive="active">Upload</a></li>
            <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/profile/2" routerLinkActive="active">Profile</a></li>
            <!--<li><a routerLink="/add" routerLinkActive="active">Add a Snap</a></li>-->
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<router-outlet></router-outlet>