<div class="parallax-team parallaxBg" style="background-position: 50% 30px;">
	<div class="container content-md">

		<div class="row" *ngFor="let i of rows">
			<!-- Team v2 -->
			<div class="col-md-3 col-sm-6" *ngFor="let snap of snaps | slice:(i*3) : (i + 1)*3">
				<div class="team-v2 no-margin-bottom">

					<a href="{{snap.path}}" rel="gallery" class="fancybox img-hover-v1" title="{{snap.name}}">
						<span><img class="img-responsive" src="{{snap.path}}" alt="{{snap.name}}"></span>
					</a>
					
					<div class="inner-team">
						<h3>{{snap.name}}</h3>
						<small class="color-green">Location</small>
						<p>{{snap.description}}</p>
						<hr>
						
						<button class="btn-u btn-u-brown" type="button" (click)="deleteSnap(snap._id)"><i class="fa fa-trash-o"></i></button>
						<a routerLink="/view/{{snap._id}}">View</a>
						<ul class="list-inline team-social">
							
							<!--<li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>-->
						</ul>
					</div>
				</div>
			</div>
			<!-- End Team v2 -->
		</div>


	</div>
</div>


